.app {
  text-align: center;
}
h1 {
  color: rgb(106, 150, 189);
}
h2 {
  color: rgb(165, 165, 107);
}
.robotContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  background: white;
  flex: 1;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px  rgba(0,0,0,0,75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  margin: 1%;
}

.btn {
  padding: 2% 20%;
  margin: 2%;
  border: 2px solid black;
  border-radius: 15px;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-green {
  background-color: green;
  color: white;
}

.img-robot {
  max-width: 200px;
  border-radius: 25px;
}
.searchContainer {
  margin: 5%;
  padding: 5%
}

.searchContainer input {
  margin: 2%;
  background-color: lightgray;
  padding: 2%;
  border-radius: 15px;
  border: none;
  font-style: italic;
}